<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src= "/static/post.js"></script>
    <link rel="stylesheet"  href="/static/masterclass.css">
    <title>Document</title>
</head>

<body>

    
    
    <div class="background-image">
    <h1><%= Name %></h1>
    <p>Лекала:</p>
    <div class="photoes1">
        <img src=<%= InstructionImg1 %> alt="Лекало1">
        <img src=<%= InstructionImg2 %> alt="Лекало2">
    </div>
    <div class="video-container">
        <p class="video-caption">Відеоурок:</p>
        <iframe 
            width="800" 
            height="450" 
            src="<%= Video.replace('youtu.be', 'www.youtube.com/embed').split('?')[0] %>"
            frameborder="0" 
            allow="autoplay; encrypted-media" 
            allowfullscreen>
        </iframe>
        
    </div>
   
    <p>Приклади готового одягу:</p>
    <div class="photoes2">
    <img src=<%= ExamplesImg1 %> alt="Готовий одяг1">
    <img src=<%= ExamplesImg1 %> alt="Готовий одяг2">
    <img src=<%= ExamplesImg1 %> alt="Готовий одяг3">
    </div>
    <p>Фото поранених:</p>
    <div class="photoes1">
    <img src=<%= InjuredImg1 %> alt="Готовий одяг1">
    <img src=<%= InjuredImg2 %>  alt="Готовий одяг2">
    <img src=<%= InjuredImg3 %>  alt="Готовий одяг3">
    </div>
    <p>Деталі чи варіативність</p>
    <p><%= DopInfo %> </p>
    <p><%= Author %> </p>


</body>
</html>

